<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header>
        <h1>Edit Profile</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/parks">Parks</a>
                </li>
                <li>
                    <a href="/users/:id">User</a>
                </li>
            </ul>
        </nav>
    </header>
    <form action="/users/<%=user.id%>?_method=PUT" method="POST">
        <label>Name:</label>
        <input type="text" name="name" value="<%=user.name%>"> 
        <label>Email:</label>
        <input type="email" name="email" value="<%=user.email%>"> 
        <label>Password:</label>
        <input type="password" name="password" value="<%=user.password%>"> 
        <label>City:</label>
        <input type="text" name="city" value="<%=user.city%>"> 
        <input type="submit" value="Submit Changes">
    </form>    
</body>
</html>